html, body {
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    transform: scale(var(--scale));
    display: inline-block;

    &.text-left {
        text-align: left;
        transform-origin: top left;
    }

    &.text-right {
        text-align: right;
        transform-origin: top right;
    }

    &.text-center {
        text-align: center;
        transform-origin: top center;
    }

    .time {
        color: var(--color);
        font-family: 'Square Sans Serif 7';
        font-size: 124px;
        line-height: 0.65em;
        display: inline-block;
        text-shadow: var(--text-shadow);
        -webkit-app-region: drag;
        -webkit-user-select: none; /* Safari */
        user-select: none; /* Standard syntax */
    }
}

@font-face {
    font-family: 'Square Sans Serif 7';
    src: url('../../fonts/SquareSansSerif7.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}